<?xml version="1.0" encoding="UTF-8"?>
<config>
 <!-- ******************************************************** -->
    <!-- The Grammar  configuration                               -->
    <!-- ******************************************************** -->
    <component name="wordListGrammar"
        type="edu.cmu.sphinx.linguist.language.grammar.SimpleWordListGrammar">
        <property name="path" value="./tidigits.wordlist"/>
        <property name="isLooping" value="true"/>
        <property name="dictionary" value="dictionary"/>
        <property name="optimizeGrammar" value="true"/>
        <property name="logMath" value="logMath"/>
    </component>

    <!-- ******************************************************** -->
    <!-- The Dictionary configuration                            -->
    <!-- ******************************************************** -->

    <component name="dictionary" type="edu.cmu.sphinx.linguist.dictionary.FullDictionary">
        <property name="location"
                value="file:/Users/tkumara/Documents/workspace/sphinx/src/main/resources/tidigits_8gau_13dCep_16k_40mel_130Hz_6800Hz.jar"/>
        <property name="dictionaryPath" value= "dictionary"/>
        <property name="fillerPath" value="fillerdict"/>
        <property name="addSilEndingPronunciation" value="false"/>
    </component>

    <!-- ******************************************************** -->
    <!-- The acoustic model configuration                         -->
    <!-- ******************************************************** -->
    <component name="acousticModel"
      type="edu.cmu.sphinx.linguist.acoustic.tiedstate.TiedStateAcousticModel">
        <property name="loader" value="sphinx3Loader"/>
    </component>


    <component name="sphinx3Loader"
           type="edu.cmu.sphinx.linguist.acoustic.tiedstate.Sphinx3Loader">
        <property name="logMath" value="logMath"/>
        <property name="isBinary" value="true"/>
        <property name="location"
                value="file:/Users/tkumara/Documents/workspace/sphinx/src/main/resources/tidigits_8gau_13dCep_16k_40mel_130Hz_6800Hz.jar"/>
        <property name="definition_file"
                value="wd_dependent_phone.500.mdef"/>
        <property name="data_location"
                value="wd_dependent_phone.cd_continuous_8gau"/>
        <property name="properties_file" value="am.props"/>
        <property name="FeatureVectorLength" value="39"/>
    </component>
    
</config>